/* ----- COMMUN ------ */

/* Base du post */

.post {
    display: flex;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.post_1, .post_2, .post_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    left: 350px;
}

#post_it_1, #post_it_2, #post_it_3 {
    position: relative;
    height: 550px;
}

.pin_form {
    top: 110px;
    left: 400px;

    height: 35px;
    position: absolute;
}

.post_1 h2, .post_2 h2, .post_3 h2 {
    position: absolute;
    text-align: center;

    white-space: nowrap;
    background-color: #D6D2EC;
}

.post_1_text, .post_2_text, .post_3_text {
    display: flex;
    position: absolute;
    gap: 10px;

    font-size: 0.9em;
    cursor: pointer;

    z-index: 1;
}

.post_2_col, .post_3_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Selection des choix */

.post_1_text input, .post_2_text input, .post_3_text input {
    padding: 0 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selected {
    background-color: #96A0FF;
}

.selector {
    visibility: hidden;
    height: 30px;
}

.item:hover .selector {
    visibility: visible;
}


/* ---- POST 1 ----- */

/* Centre du post */

.post_1 {
    padding-bottom: 30px;
}

.post_1 h2 {
    top: 170px;
    left: -40px;
    padding: 30px 70px 30px 200px;
}

.post_1_text {
    top: 300px;
    flex-direction: column;
}

.clouds_form {
    position: absolute;
    left: -100px;
    top: 400px;
    z-index: 1;

    height: 120px;
}


/* Images du post */

.img_post_1 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img_post_1 img {
    object-fit: contain;
    position: absolute;
}

.right_pic_form {
    left: 320px;
    height: 500px;
    top: -100px;
}

.love_form {
    left: 380px;
    height: 70px;
}

.nj1 {
    height: 460px;
    top: 180px;
    left: 300px;
}

/* ----- POST 2 ----- */

/* Img left post 2 */

.img_post_2_left {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img_post_2_left img {
    position: absolute;
}

.alice {
    height: 600px;
    top: 150px;
    left: -100px;
}

.hearts {
    display: flex;
    flex-direction: column;
    position: relative;
}

.heart1 {
    left: 60px;
    height: 80px;
    top: -40px;

    animation: 3s up2 infinite ease-out;
}

@keyframes up2 {
    0% {
        transform: translateY(-20px);
        opacity: 0; 
    }

    50% {
        opacity: 1; 
    }

    100% {
        transform: translateY(-120px);
        opacity: 0; 
    }

}

.heart2 {
    left: 80px;
    height: 55px;
    top: 150px;

    animation: 4s up1 infinite ease-in-out;
}

.heart3 {
    height: 40px;
    left: 160px;
    top: 100px;

    animation: 3s up1 infinite ease-in-out;
}

@keyframes up1 {
    0% {
        transform: translateY(20px);
        opacity: 0; 
    }

    50% {
        opacity: 1; 
    }

    100% {
        transform: translateY(-100px);
        opacity: 0; 
    }

}

/* Centre post 2 */

.post_2 {
    padding-bottom: 0;
}

.post_2 .pin_form {
    left: 270px;
}

.post_2 h2 {
    top: 170px;
    left: 150px;

    padding: 30px 300px 30px 50px;
}

.post_2_text {
    left: 70px;
    gap: 10px;

    top: 280px;
    padding-left: 60px;
}

.img_post_2_right {
    position: relative;
}

.stars_background_2 {
    object-fit:contain;
    top: -100px;
    left: 300px;
}

/* ----- POST 3 ------ */

/* Centre post 3 */

.post_3 h2 {
    top: 170px;
    left: -200px;
    padding: 30px 70px 30px 400px;
}

.post_3_text {
    left: 120px;
    top: 300px;
}

.img_post_3_right {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 200px;
}

.img_post_3_korean {
    position: relative;
}

#paper {
    position: relative;
    top: -20px;
    z-index: -1;
}

#korean_heart, #korean_fingers {
    position: absolute;
}

#korean_fingers {
    top: 150px;
    left: 250px;
}

#korean_heart {
    top: 130px;
    left: 270px;

    animation: 3s intheair infinite ease-in-out;
}

@keyframes intheair {
    0% {
        opacity: 0;
        transform: translateY(0px);
        height: 50px;    
    }

    50% {
        opacity: 1;
        height: 80px;
    }

    100%{
        opacity: 0;
        transform: translateY(-150px);
        height: 80px;
    }
}

#NJ2 {
    position: absolute;
    height: 550px;
    top: 300px;
}


/* ----- BOUTON DE FIN ----- */

.submit_post {
    display: flex;
    padding-bottom: 300px;
    position: relative;
}

.submit_img {
    position: relative;
}

#last_stars {
    rotate: 180deg;
    object-fit: cover;
    top: -180px;
    left: -200px;
}

#cat_white, #cat_black {
    position: absolute;
    height: 250px;
}

#cat_white {
    top: -500px;
}

#cat_black {
    top: -370px;
    left: 100px;
}

.submit_button {
    position: relative;
    transform: translateX(calc(700px - 224px));
    top: -50px;
}

.submit_button input {
    position: absolute;
    padding: 30px 70px;
}

#button_click {
    height: 60px;
    top: 70px;
    left: 350px;
}



