/* Post 1 */

.post {
    display: flex;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Centre du post */

.post_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    left: 350px;
    padding-bottom: 30px;

}

#post_it_1 {
    position: relative;
    height: 550px;
}

.post_1 h2 {
    position: absolute;
    text-align: center;
    top: 170px;
    left: -40px;

    padding: 30px 70px 30px 200px;
    background-color: #D6D2EC;
}

.post_1_text {
    display: flex;
    position: absolute;
    top: 320px;


    display: flex;
    flex-direction: column;
    gap: 10px;

    font-size: 0.9em;
    cursor: pointer;


    z-index: 1;
}

.post_1_text input {
    padding: 0 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.selector {
    visibility: hidden;
    height: 30px;
}

.item:hover .selector {
    visibility: visible;
}

.pin_form {
    top: 110px;
    left: 400px;

    height: 35px;
    position: absolute;
}

.clouds_form {
    position: absolute;
    left: -100px;
    top: 400px;
    z-index: 1;

    height: 120px;
    
    animation: 5s slide infinite;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateX(200px);
        opacity: 0;
    }
}


/* Images du post */

.img_post_1 {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img_post_1 img {
    object-fit: contain;
    position: absolute;
}

.right_pic_form {
    left: 320px;
    height: 500px;
    top: -100px;
}

.love_form {
    left: 380px;

    height: 70px;
    animation: 3s slideup infinite;
    animation-timing-function: ease-out;
}

@keyframes slideup {
    0% {
       /* transform: translate(0px, 0px);*/
        opacity: 0;
    }
    50% {
        opacity: 1;
        
    }
    100% {
        transform: translate(-60px,-60px);
        height: 90px;
        opacity: 0;
    }
}

.nj1 {
    height: 460px;
    top: 180px;
    left: 300px;
}

/* ---------- Post 2 ----------- */

/* Img left post 2 */

.img_post_2_left {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img_post_2_left img {
    position: absolute;
}

.alice {
    height: 600px;
    top: 150px;
    left: -100px;
}

.hearts {
    display: flex;
    flex-direction: column;
    position: relative;
}

.heart1 {
    left: 60px;
    height: 80px;
    top: -40px;

    animation: 5s up1 infinite ease-out;
}

@keyframes up1 {
    0% {
        transform: translateY(-20px);
        opacity: 0; 
    }

    50% {
        opacity: 1; 
    }

    100% {
        transform: translateY(-120px);
        opacity: 0; 
    }

}

.heart2 {
    left: 80px;
    height: 55px;
    top: 150px;

    animation: 4s up1 infinite ease-in-out;
}

.heart3 {
    height: 40px;
    left: 160px;
    top: 100px;

    animation: 3s up1 infinite ease-in-out;
}

@keyframes up1 {
    0% {
        transform: translateY(20px);
        opacity: 0; 
    }

    50% {
        opacity: 1; 
    }

    100% {
        transform: translateY(-100px);
        opacity: 0; 
    }

}

/* Center post 2 */

.post_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    left: 350px;
    padding-bottom: 0;
}

#post_it_2 {
    position: relative;
    height: 550px;
    
}

.post_2 .pin_form {
    left: 270px;
}

.post_2 h2 {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    top: 170px;
    left: 150px;

    padding: 30px 300px 30px 50px;
    background-color: #D6D2EC;
}

.post_2_text {
    display: flex;
    left: 70px;
    gap: 10px;

    position: absolute;
    top: 300px;
    font-size: 0.9em;
    padding-left: 60px;

    cursor: pointer;
}

.post_2_text input {
    padding: 0 10px;
}

.post_2_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img_post_2_right {
    position: relative;
}

.stars_background_2 {
    position: absolute;
    object-fit:contain;
    height: 700px;
    top: -100px;
    left: 300px;

    opacity: 80%;
    z-index: -1;
}

/* Post 3 */

/* Centre du post */

.post_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    left: 350px;

}

#post_it_3 {
    position: relative;
    height: 550px;
}

.post_3 h2 {
    position: absolute;
    text-align: center;
    top: 170px;
    left: -200px;

    padding: 30px 70px 30px 400px;
    white-space: nowrap;
    background-color: #D6D2EC;
}

.post_3_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post_3_text {
    display: flex;
    left: 120px;
    gap: 10px;

    position: absolute;
    top: 300px;
    font-size: 0.9em;

    cursor: pointer;
}

.post_3_text input {
    padding: 0 10px;
}

.img_post_3_right {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 200px;
}

.img_post_3_korean {
    position: relative;
}

#paper {
    position: relative;
    top: -20px;
    z-index: -1;
}

#korean_heart, #korean_fingers {
    position: absolute;
}

#korean_fingers {
    top: 150px;
    left: 250px;
}

#korean_heart {
    top: 130px;
    left: 270px;

    animation: 3s intheair infinite ease-in-out;
}

@keyframes intheair {
    0% {
        opacity: 0;
        transform: translateY(0px);
        height: 50px;    
    }

    50% {
        opacity: 1;
        height: 80px;
    }

    100%{
        opacity: 0;
        transform: translateY(-150px);
        height: 80px;
    }
}

#NJ2 {
    position: absolute;
    height: 550px;
    top: 300px;
}


/* Boutton de fin */

.submit_post {
    display: flex;
    padding-bottom: 300px;
    position: relative;
}

.submit_img {
    position: relative;
}

#last_stars {
    position: absolute;
    rotate: 180deg;
    object-fit:cover;
    height: 700px;
    top: -180px;
    left: -200px;

    opacity: 80%;
    z-index: -1;
}

#cat_white, #cat_black {
    position: absolute;
    height: 250px;
}

#cat_white {
    top: -500px;
}

#cat_black {
    top: -370px;
    left: 100px;
}

.submit_button {
    position: relative;
    transform: translateX(calc(700px - 224px));
    top: -50px;
}

.submit_button input, #button_click {
    position: absolute;
}

input {
    all: unset;  

}

.submit_button input {
    padding: 30px 70px;

    font-family: "Pixel Digivolve";
    font-size: 2em;
    text-shadow: #FFFAE9 4px 2px;

    background-color: #96A0FF;
    border-radius: 15px;
    box-shadow: #20222D 8px 8px 2px;

	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;

    white-space: nowrap;
}

.submit_button input:hover {
    background-color: #5863BF;
}

#button_click {
    height: 60px;
    top: 70px;
    left: 350px;

    animation: 2s up infinite;
    animation-timing-function:ease;
}


.selected {
    background-color: #96A0FF;
}

