/* Fonts */

@font-face {
    font-family: "Kemco";
    src: url("../fonts/Kemco\ Pixel\ Bold.ttf");
}

@font-face {
    font-family: "Pixel Digivolve";
    src: url("../fonts/Pixel\ Digivolve.otf");
}

/* ----- GENERAL ----- */

body {
    color: #0A0C18;
    background-color: #FFFAE9;

    font-family: "Kemco";
    letter-spacing: 2px;
    font-size: 0.8em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-self: center;
}


.container {
    display: flex;
    align-self: center;
    width: 1400px;
    overflow-x: visible;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ---- HEADER ----- */

header {
    background-image: url("../assets/header/Header\ background.jpg");
    background-position: center;
    background-repeat: repeat;

    height: 127px;

    display: flex;
    align-items: center;
    padding-left: 50px;
}

header img {
    height: 70px;  
}


/* ---- FOOTER ----- */

footer {
    background-color: #0A0C18;
    display: flex;
    justify-content: space-between;

    padding: 50px 100px;
}

/* Colonne de gauche */

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.infos_text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.infos_text a {
    display: flex;
    position: relative;

    gap: 40px;
    flex-grow: 1;
}

.infos_text p {
    padding: 20px 40px;
    background-color: #D6D2EC;
    border-radius: 30px;
    text-align: center;
    flex-grow: 1;

    font-family: "Pixel Digivolve";
    font-size: 0.9em;
    letter-spacing: 0;
}

.infos_text a::before {
    content: url("../assets/footer/pointer.png");
    width: 30px;
    height: 30px;

    position: absolute;
    left: -70px;
    
    visibility: hidden;

}
.infos_text a:hover::before {
    visibility: visible;
}

.infos img {
    height: 90px;
    object-fit: contain;
}

.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
}

.footer_right img {
    height: 27px;
    object-fit: contain;
}

.sns img {
    padding: 10px;
    background-color: #D6D2EC;
    border-radius: 15px;

}

/* BOUTONS */

.main_button button, .submit_button input {
    font-family: "Pixel Digivolve";
    font-size: 2em;
    text-shadow: #FFFAE9 4px 2px;

    background-color: #96A0FF;
    border-radius: 15px;
    box-shadow: #20222D 8px 8px 2px;

	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;

    white-space: nowrap;
}

.main_button button:hover, .submit_button input:hover, .outfit_button button:hover {
    background-color: #5863BF;
}


/* ANIMATIONS */

/* Souris du bouton */

#click, #button_click, #outfit_click {
    position: absolute;

    animation: 2s up infinite;
    animation-timing-function:ease;
}

@keyframes up {
    0% {
        transform: translate(10px, 10px);
    }

    100% {
        transform: translateY(-10px, -10px);
    }
}

/* Coeur qui part de la photo en haut à droite */


.love_form, .love_index, .love_outfit {
    animation: 3s slideup infinite;
    animation-timing-function: ease-out;
}

@keyframes slideup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        
    }
    100% {
        transform: translate(-60px,-60px);
        height: 90px;
        opacity: 0;
    }
}

/* Nuages */


.clouds_index, .clouds_form, .outfit_cloud_1, .outfit_cloud_2, .outfit_cloud_3 {  
    animation: 5s slide infinite;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateX(200px);
        opacity: 0;
    }
}





