
/* INDEX */

/* ---- COMMUN ----- */

.left, .main_post, .right {
    display: flex;
    flex-direction: column;

    position: relative;
    overflow: visible;
}

/* ---- LEFT ----- */

.stars_background_index {
    position: relative;
    left: -250px;
    object-fit: contain;
}

#left_pic {
    position: absolute;
    height: 350px;
    bottom: -1px;
    left: 20px;
}

/* ----- MAIN POST ----- */

/* Général */

.main_post {
    left: -350px;
}

#main_img {
    position: relative;
    height: 550px;
}

/* Texte */

.title {
    display: flex;
    position: absolute;
    top: 225px;
    left: 160px;
}

.pin_index {
    height: 35px;
    position: absolute;
    top: -70px;
    left: 300px;
}

.title h2 {
    text-align: center;
}


/* Button */

.main_button {
    display: flex;
    position: absolute;
    bottom: 350px;
    left: 210px;
}

.main_button button {
    padding: 20px 70px;;
}

#click {
    height: 60px;
    bottom: -40px;
    left: 160px;
}

/* ----- RIGHT ----- */

.right {
    justify-content: space-between;
}

.right_1, .right_2 {
    position: relative;
}

.right img { 
    position: absolute;
}

.right_pic_index {
    height: 500px;
    left: -320px;
    top: -100px;
}

.love_index {
    height: 70px;
    left: -260px;
}

.clouds_index {
    height: 120px;
    left: -350px;
    top: -330px;
}

.korean_love {
    height: 500px;
    top: -240px;
    left: -330px;
    z-index: -1;
}
