
/* INDEX */

/* Left */

.left {
    display: flex;
    flex-direction: column;

    position: relative;
    overflow: visible;
}

.stars_background_index {
    position: relative;
    left: -250px;
    object-fit:contain;
    height: 700px;

    opacity: 80%;
}


#left_pic, #no_comment {
    position: absolute;
}

#left_pic {
    height: 350px;
    bottom: -1px;
    left: 20px;
}

#no_comment {
    display: none;
    height: 70px;

    bottom: 240px;
    left: 270px;
}

/* Main post */

/*Général*/

.main_post {
    display: flex;
    flex-direction: column; 
    position: relative; 
    left: -350px;
}

#main_img {
    position: relative;
    height: 550px;
}

/*Texte*/

.title {
    display: flex;
    position: absolute;
    top: 225px;
    left: 160px;
}

.pin_index {
    height: 35px;
    position: absolute;
    top: -70px;
    left: 300px;
}

.title h2 {
    text-align: center;
}



/*Button*/

.main_button {
    display: flex;
    position: absolute;
    bottom: 350px;
    left: 210px;
}

.main_button button {
    padding: 20px 70px;

    font-family: "Pixel Digivolve";
    font-size: 2em;
    text-shadow: #FFFAE9 4px 2px;

    background-color: #96A0FF;
    border-radius: 15px;
    box-shadow: #20222D 8px 8px 2px;

	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.main_button button:hover {
    background-color: #5863BF;
}

#click {
    height: 60px;
    position: absolute;
    bottom: -40px;
    left: 160px;

    animation: 2s up infinite;
    animation-timing-function:ease;
}

@keyframes up {
    0% {
        transform: translate(10px, 10px);
    }

    100% {
        transform: translateY(-10px, -10px);
    }
}

/* Right */

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
}

.right_1, .right_2 {
    position: relative;
}

.right img { 
    position: absolute;
}

.right_pic_index {
    height: 500px;
    left: -320px;
    top: -100px;
}

.love_index {
    height: 70px;
    left: -260px;
    animation: 3s slideup infinite;
    animation-timing-function: ease-out;
}

@keyframes slideup {
    0% {
       /* transform: translate(0px, 0px);*/
        opacity: 0;
    }
    50% {
        opacity: 1;
        
    }
    100% {
        transform: translate(-60px,-60px);
        height: 90px;
        opacity: 0;
    }
}

.clouds_index {
    height: 120px;
    left: -350px;
    top: -330px;
    
    animation: 5s slide infinite;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes slide {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateX(200px);
        opacity: 0;
    }
}

.korean_love {
    height: 500px;
    top: -240px;
    left: -330px;
    z-index: -1;
}
