@media screen and (max-width:999px) {

/* ----- GENERAL ----- */

body {
    font-size: 0.6em;
}


.container {
    width: 700px;
    padding-bottom: 120px;
}

.container2 {
    width: 700px;
}

/* ----- INDEX ----- */

/* Left */

.stars_background_index {
    left: -400px;
    height: 600px;
}

#left_pic {
    height: 200px;
    left: 20px;
}

/* Main post */

/* Général */

.main_post {
    top: 70px;
    left: -510px;

}

#main_img {
    height: 410px;
}

/* Texte */

.title {
    top: 165px;
    left: 110px;
}

.pin_index {
    top: -50px;
    left: 200px;
}

/* Button */

.main_button {
    bottom: 320px;
    left: 145px;
}

#click {
    height: 40px;
    bottom: -20px;
    left: 140px;
}

/* Right */

.right_pic_index {
    height: 300px;
    left: -580px;
    top: -50px;
}

.love_index {
    display: none;
}

.clouds_index {
    height: 80px;
    left: -580px;
}

.korean_love {
    height: 300px;
    top: -180px;
    left: -600px;
}

/* ----- PAGE DU FORMULAIRE ----- */

/* COMMUN */

/* Base du post */

.post_1, .post_2, .post_3 {
    left: 385px;
}

#post_it_1, #post_it_2, #post_it_3 {
    height: 410px;
}

.pin_form {
    top: 70px;
    left: 300px;

    height: 25px;
}

.post_1_text, .post_2_text, .post_3_text {
    gap: 10px;
}

.post_2_col, .post_3_col {
    gap: 0px;
}

/* Image des étoiles */

#last_stars, .stars_background_2 {
    height: 500px;
}


/* POST 1 */

/* Centre du post */

.post_1 {
    padding-bottom: 30px;
}

.post_1 h2 {
    top: 120px;
    padding: 25px 30px 25px 200px;
}

.post_1_text {
    top: 200px;
}

.clouds_form {
    left: -170px;
    top: 250px;
    height: 80px;
}

/* Images du post */

.right_pic_form {
    left: 320px;
    height: 300px;
    top: -50px;
}

.love_form {
    left: 380px;
}

.nj1 {
    height: 250px;
    top: 140px;
    left: 330px;
}

/* POST 2 */

/* Img left post 2 */

.alice {
    height: 370px;
    top: 150px;
    left: 150px;
}

.heart1 {
    left: 300px;
    height: 50px;
    top: -40px;
}

.heart2 {
    left: 290px;
    height: 40px;
    top: 100px;
}

.heart3 {
    height: 30px;
    left: 360px;
    top: 60px;
}

/* Center post 2 */

.post_2 h2 {
    top: 110px;
    left: 100px;
    padding: 25px 300px 25px 50px;
}

.post_2_text {
    left: 10px;
    gap: 0px;
    top: 200px;
}

/* POST 3 */

/* Centre post 3 */

.post_3 h2 {
    top: 115px;
    left: -280px;
    padding: 25px 70px 25px 400px;
}

.post_3_text {
    left: 70px;
    top: 210px;
    gap: 0;
}

.img_post_3_right {
    left: 200px;
}

#paper {
    top: -20px;
}

#korean_fingers {
    top: 200px;
    height: 90px;
    left: 200px ;
}

#korean_heart {
    top: 150px;
    left: 200px;
}

#NJ2 {
    height: 350px;
    left: 80px;
}


/* BOUTON DE FIN */

.submit_post {
    padding-bottom: 50px;
}

#last_stars {
    top: -220px;
    left: -130px;
}

#cat_white, #cat_black {
    height: 100px;
}

#cat_white {
    top: -420px;
    left: 270px;
}

#cat_black {
    top: -340px;
    left: 320px;
}

.submit_button {
    transform: translateX(calc(500px - 65px));
    top: -220px;
}

.submit_button input {
    padding: 30px 70px;
}

#button_click {
    height: 40px;
    top: 55px;
    left: 300px;
}

/* ----- LOADING PAGE ----- */

.loading_post {
    gap: 30px;
}

.loading_post p {
    font-size: 1em;
}

#loading {
    height: 80px;
}


/* ----- OUTFIT PAGE ----- */

/* TITRE */

.outfit_title img {
    left: 150px;
}

.outfit_title, .other_outfit_title {
    padding: 100px 0 150px 0;
}

.outfit_title h2, .other_outfit_title h2 {
    padding: 25px 300px;
}

/* ARTICLE*/

/* Left */

.tape {
    height: 250px;
    left: -50px;
    top: 150px;
}

.outfit_cloud_1 {
    height: 70px;
    top: 600px;
    left: -50px;
}

.outfit_cloud_2 {
    height: 50px;
    left: -100px;
    top: 500px;
}

/* Post central */

#outfit_background {
    height: 800px;
}

.outfitOfTheDay {
    position: absolute;
    top: 100px;
    justify-self: center;
}

.outfitOfTheDay img {
    height: 600px;
    width: 400px;
    object-fit: cover;
}


#moon {
    top: 50px;
    height: 100px;
    right: -50px;
}

/* Right */

.outfit_stars {
    height: 500px;
    right: -400px;
}

.outfit_cloud_3 {
    height: 55px;
}

/* OTHER STYLES */ 

#outfit_stars_2 {
    top: 0px;
    left: -20px;
    height: 220px;
}

.paper {
    left: 350px;
    height: 580px;
    z-index: -1;
}

.outfit_button {
    padding: 50px 0 150px 0;
}

.solo_star_1 {
    top: 70px;
    right: 0px;
    height: 60px;
}

.solo_star_2 {
    top: 170px;
    right: -20px;
    height: 40px;
}

.solo_star_3 {
    top: 200px;
    right: 30px;
    height: 80px;
}

#outfit_click {
    height: 50px;
    bottom: 120px;
    left: 200px;
}

.outfit_button button:hover {
    color: #D6D2EC;
}

.outfit_cloud_1 {
    animation: 4s slide infinite
}

.outfit_cloud_3 {
    animation: 4.5s slide infinite
}

/* ----- OTHER OUFITS ----- */

/* GENERAL*/

.others_stars_background_1, .others_stars_background_2, .others_stars_background_3 {
    height: 500px;
}

.outfit_line {
    padding-bottom: 100px;
}

.outfit_line_background {
    height: 80px;
}

.outfitBorder {
    height: 300px;
}

.outfitPic {
    height: 230px;
    width: 180px;
}


/* TITRE */

.other_cloud_1 {
    height: 50px;
    left: 50px;
    top: 70px;
}

.other_cloud_2 {
    height: 35px;
    left: 0px;
    top: 10px;
}

.other_cherry_1 {
    bottom: 50px;
    height: 50px;
    right: 220px;
}

/* Les étoiles */


.star_1 {
    height: 40px;
    right: 40px;
    top: 40px;
}

.star_2 {
    height: 50px;
    right: 80px;
    top: 10px;
}

.star_3 {
    height: 60px;
    right: 150px;
    top: 70px;
}

.star_4 {
    height: 40px;
    right: 20px;
    top: 170px;
}

.star_5 {
    height: 70px;
    right: 100px;
    top: 105px;
}


/* LINE OUTFIT 1 */

.others_stars_background_1 {
    display: none;
}

/* LINE OUTFIT 2 */

.others_stars_background_2 {
    right: -80px;
}

/* LINE OUTFIT 3 */

.duck {
    height: 100px;
    top: -85px;
    left: 100px;
}

/* ANOTHER OUTFIT */

.another_outfit {
    padding: 0px 0 150px 0;
}


.other_click {
    height: 40px;
    left: 410px;
    top: 40px;
}

.others_stars_background_3 {
    left: -300px;
    top: -50px;
}

.other_cherry_2 {
    display: none;
}

.other_paper {
    top: -100px;
    right: -250px;
    height: 500px;
}

.other_potions {
    height: 150px;
    right: -10px;
    top: 50px;
}

.other_moon {
    height: 100px;
    right: 30px;
    top: -20px;
}

/* NO OUTFIT */

#nooutfitclick {
    top: 520px;
    left: 460px;
}

.nooutfitp {
    padding-top: 100px;
}

.nooutfitbutton {
    padding-bottom: 100px;
}


}