/* Fonts */

@font-face {
    font-family: "Kemco";
    src: url("../fonts/Kemco\ Pixel\ Bold.ttf");
}

@font-face {
    font-family: "Pixel Digivolve";
    src: url("../fonts/Pixel\ Digivolve.otf");
}

/* General */

body {
    color: #0A0C18;
    background-color: #FFFAE9;

    font-family: "Kemco";
    letter-spacing: 2px;
    font-size: 0.8em;

    display: flex;
    flex-direction: column;

    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header {
    background-image: url("../assets/header/Header\ background.jpg");
    background-position: center;
    background-repeat: repeat;

    height: 127px;

    display: flex;
    align-items: center;
    padding-left: 50px;
}

header img {
    height: 70px;  
}


/* INDEX */

main {
    display: flex;
    align-self: center;
    width: 1400px;
}

/* Left */

.left {
    display: flex;
    flex-direction: column;

    position: relative;
}

#stars_background {
    position: relative;
    object-fit: cover;
    height: 700px;
    width: 550px;

    opacity: 80%;
}


#left_pic, #no_comment {
    position: absolute;
}

#left_pic {
    height: 350px;
    bottom: -1px;
    left: 20px;
}

#no_comment {
    display: none;
    height: 70px;

    bottom: 240px;
    left: 270px;
}

/* Main post */

/*Général*/

.main_post {
    display: flex;
    flex-direction: column; 
    position: relative; 
    left: -170px;
}

#main_img {
    position: relative;
    height: 550px;
}

/*Texte*/

.title {
    display: flex;
    position: absolute;
    top: 225px;
    left: 160px;
}

.pin {
    height: 35px;
    position: absolute;
    top: -70px;
    left: 300px;
}

.title h2 {
    text-align: center;
}

/*Button*/

.main_button {
    display: flex;
    position: absolute;
    bottom: 350px;
    left: 210px;
}

.main_button button {
    padding: 20px 70px;

    font-family: "Pixel Digivolve";
    font-size: 2em;
    text-shadow: #FFFAE9 4px 2px;

    background-color: #96A0FF;
    border-radius: 15px;
    box-shadow: #20222D 8px 8px 2px;

	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

#click {
    height: 60px;
    position: absolute;
    bottom: -40px;
    left: 160px;

    animation: 5s up infinite;
}

@keyframes up {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(-15px); 
    }
}



/* Right */

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
}

.right_1, .right_2 {
    position: relative;
}

.right img { 
    position: absolute;
}

.right_pic {
    height: 500px;
    left: -100px;
    top: -100px;
}

.love {
    height: 70px;
    left: -50px;
    animation: 7s rotation infinite;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes rotation {
    0% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(-30deg);
    }
}

.clouds {
    height: 120px;
    left: -170px;
    top: -330px;
    
    animation: 15s slide infinite;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

@keyframes slide {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.korean_love {
    height: 500px;
    top: -240px;
    left: -160px;
    z-index: -1;
}


/* Footer */

footer {
    background-color: #0A0C18;
    display: flex;
    justify-content: space-between;

    padding: 50px 100px;
}

/* Colonne de gauche */

.infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.infos_text {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.infos_text a {
    display: flex;
    position: relative;

    gap: 40px;
    flex-grow: 1;
}

.infos_text p {
    padding: 20px 40px;
    background-color: #D6D2EC;
    border-radius: 30px;
    text-align: center;
    flex-grow: 1;

    font-family: "Pixel Digivolve";
    font-size: 0.9em;
    letter-spacing: 0;
}

.infos_text a::before {
    content: url("../assets/footer/pointer.png");
    width: 30px;
    height: 30px;

    position: absolute;
    left: -70px;
    
    visibility: hidden;

}
.infos_text a:hover::before {
    visibility: visible;
}

.infos img {
    height: 90px;
    object-fit: contain;
}

.footer_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
}

.footer_right img {
    height: 27px;
    object-fit: contain;
}

.sns img {
    padding: 10px;
    background-color: #D6D2EC;
    border-radius: 15px;

}



